
.login-page {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 41.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.login-container {
  background-color: white;
  padding: 40px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  color: #000000;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  background-color: #000;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.login-container button:hover {
  background-color: #333;
}

button {
  background-color: #000;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
}

.register-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 232px 0;
    width: 100%;
    bottom: 0;
}
